---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Just Effing Sleep!">
	<div class="bg-gray-900">
		<div class="relative isolate pt-14">
			<div
				class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
				aria-hidden="true"
			>
				<div
					class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
					style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
				>
				</div>
			</div>
			<div class="pt-12 pb-20 lg:pb-40">
				<div class="mx-auto max-w-7xl px-6 lg:px-8">
					<div class="mx-auto max-w-2xl text-center">
						<img
							src="/sloth-moon.svg"
							alt="Just effing sleep!"
							class="w-32 mb-10 mx-auto"
						/>

						<h1
							class="text-4xl font-bold tracking-tight text-white sm:text-6xl"
						>
							Just effing sleep!
						</h1>
						<p class="mt-6 text-lg leading-8 text-gray-300">
							This is for all moms and dads. You must keep
							believing your newborn will fall asleep soon. Our
							effing lullabies are here to help.
						</p>
					</div>
				</div>
			</div>
			<div
				class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
				aria-hidden="true"
			>
				<div
					class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
					style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
				>
				</div>
			</div>
		</div>
	</div>

	<main class="relative mb-20">
		<ul
			role="list"
			class="max-w-[800px] px-4 md:px-0 mx-auto grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-12"
		>
			<Card
				href="/its-already-2am"
				title="It's already 2am"
				img="sloth-donut.svg"
			>
				<p>It's already 2am.</p><p>You last napped at 3pm.</p><p>
					You closed your eye for 4 minutes.
				</p><p>I really could use a nap too.</p><p>
					Please don't make me throw you out the window.
				</p>
			</Card>
			<Card
				href="/i-work-early-tomorrow"
				title="I work early tomorrow"
				img="sloth-coffee.svg"
			>
				<p>Tomorrow's alarm clock is mocking me already.</p>
				<p>So, let's strike a deal: you snooze, I snooze.</p>
				<p>
					And maybe, just maybe, we'll both survive my early morning
					grind.
				</p>
				<p>Without resorting to caffeine IVs</p>
			</Card><Card
				href="/cursed-neighbors-who-slammed-the-door"
				title="Cursed neighbors who slammed the door"
				img="sloth-skate.svg"
			>
				<p>In the dark of the night, we try to find some peace</p>
				<p>But those neighbors next door just won't let us sleep</p>
				<p>Their door slams like thunder, a punk rock refrain</p>
				<p>Keeping us awake, driving us insane.</p>
			</Card><Card
				href="/dont-make-me-call-the-t-800"
				title="Don't make me call the T-800"
				img="sloth-sleeping.svg"
			>
				<p>Late at night, the baby's cries fill the air,</p>
				<p>Mom's eyelids heavy, but there's no time to spare.</p>
				<p>If you keep this up, kid, it's gonna get real messy,</p>
				<p>Don't make me call the T-800, it'll get messy!</p>
			</Card>
		</ul>
	</main>
</Layout>
